@import "ember-bootstrap/bootstrap";
@import "ember-power-select";

.container-flex {
  height: 100vh;
}

.new-job-form {
  max-width: 400px;
}

.job-list {
  @extend .h-100;

  &__left-block {
    width: 10%;
    margin-left: -10px;
    display: inline-block;
  }

  &__right-block {
    width: 90%;
    margin-left: 10px;
    display: inline-block;
  }

  &__viewed-num {
    height: 2em;
    font-size: .8rem;
    padding: 0 4px;
    min-width: 2em;
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__desc {
    font-size: 90%;
    width: 15em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

button:disabled {
  cursor: not-allowed;
}
